.header {
  margin: 3rem 0 2rem 0;
}

.header__row {
  background-color: #77d2e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.header__logo img {
  max-width: 140px;
}
