/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
  background-color: #fff;
  font-family: arial,sans-serif;
}
.container{
  max-width: 1380px;
  margin: 0 auto;
}

.title{
  color: #445161;
  line-height: 36px;
  font-size: 30px;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1 1 auto;
}

.header{ 
  margin: 3rem 0 2rem 0;
  &__row{
    background-color: rgb(119, 210, 233);
    display: flex;
  }
  &__logo{
    padding: 1rem;
    flex: 0 0 140px;
    img{
      max-width: 140px;
    }
  }
}
.main{
  &__row{
    display: flex;
    
  }
}
.sidebar{  
  &__row{
    display: flex;
  }
  &__body{
    background-color: rgb(119, 210, 233);
  }
  &__point{
    flex: 1 1 auto;
    padding: 1rem 5rem 0.5rem 1rem;
    flex-direction: column;
    a{
      color: white;
      font-size: 2rem;
    }
  }
  &__setting{
    padding-top: 3rem;
    padding-bottom: 27%;
  }
}

.hat{
  &__row{
    display: flex;
    flex-wrap: wrap;
  }
  margin-left: 2rem;
  &__image{
    flex: 1 0 100%;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  
}

.about{
  margin-left: 34.3rem;
  margin-top: 2rem;
  &__row{
    display: flex;
    
  }
  &__square{
    height: 100px;
    width: 100px;
    background-color: rgb(58, 130, 197);
  }
  &__name{
    font-size: 40px;
  }
  &__text{
    margin-top: 2rem;
    font-size: 20px;
  }
  &__body{
    margin-left: 2rem;
    width: 100%;
  }
}
