@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #fff;
  font-family: arial,sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

.title {
  color: #445161;
  line-height: 36px;
  font-size: 30px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  margin: 3rem 0 2rem 0;
}

.header__row {
  background-color: #77d2e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.header__logo img {
  max-width: 140px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__body {
  background-color: #77d2e9;
}

.sidebar__point {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 5rem 0.5rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__point a {
  color: white;
  font-size: 2rem;
}

.sidebar__setting {
  padding-top: 3rem;
  padding-bottom: 27%;
}

.hat {
  margin-left: 2rem;
}

.hat__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hat__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.hat__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.about {
  margin-left: 34.3rem;
  margin-top: 2rem;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__square {
  height: 100px;
  width: 100px;
  background-color: #3a82c5;
}

.about__name {
  font-size: 40px;
}

.about__text {
  margin-top: 2rem;
  font-size: 20px;
}

.about__body {
  margin-left: 2rem;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */